
.stats {
  display: flex;
  flex-direction: column;
  border: 0px solid;
  justify-content: center;
  
  /* margin-left: 15vw; */
}

.first-stat {
  display: flex;
  border: 0px solid;
  height: 22vh;
  justify-content: center;
  align-items: center;
  /* margin-left: 15vw; */
}

.temp {
  font-size: 13em;
}

.stat {
  border: 0px solid;
  position: relative;
  left: -3vw;
  top: 4vh;
  font-size: 1.5em;
  width: 8vw;
}

.second-stat {
  width: 18vw;
  border: 0px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5em;
}

.feel-stat {
  border: 0px solid;
  display: flex;
  justify-content: center;
  font-size: 0.75rem;
}

.condition {
  text-transform: capitalize;
}

.small-stat {
  display: flex;
  justify-content: center;
  font-size: 0.8rem;
}