.display {
  display: flex;
  border: 1px solid ;
  height: 70vh;
  width: 60vw;
  background-color: rgb(0, 0, 0);
  position: absolute;
  z-index: 1;
  border-radius: 30px;
}
.weather {
  width: 38vw;
}

.nav {
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 0px solid ;
}

.tempStats {
  height: 45vh;
  border: 0px solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: last baseline;
}

.cards {
  border: 0px solid ;
  height: 10vh;
  display: flex;
  justify-content: center;
  gap: 1vw;
}

.time-field {
  border-left: 1px solid;
  width: 22vw;
}

.time-content {
    height: 13vh;
  border: 0px solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

}

.greeting {
    font-size: 1.5rem;
}

.clock {
    font-size: 1.3rem;
}

.mini-tempStats {
  height: 15vh;
  border: 0px solid;
}

.time-card {
  border-top:1px solid;
  height: 40vh;
  border-radius: 20px;
}

.hrs {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 2vh;
}