 @import "tailwindcss";


 *{
   color: white;
   }
 

 .bg-bl {
   background-color: rgb(42, 42, 42);
 }

 .black {
   background-color: black;
 }

 .scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.md\:justify-center {
    @media (width >=512px) {
        justify-content: center;
    }
}
